@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&family=Roboto:wght@300;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    color: #3be22d;
    text-decoration: none;
   
}


.header_container {
    height: 100vh;
    width: 100%;
    background-color: #1e1f24;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;

}

.wand{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    margin-top: -5rem;
    
}



.header {
    visibility: hidden;
}

.menu_nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-size: 25px;
    background-color: #1e1f24c4;
    width: 100%;
    padding: 10px 10px 10px 10px;
    position: fixed;
    z-index: 3;
    box-shadow: 0px 1px 4px;
}


.menu_nav a:hover{
    color: #ffffff;
}

/* imagem sem fundo com uma leve animação */

.header_container img {
    height: 660px;
    right: 15px;
    position: absolute;
    animation: bounce 1s infinite alternate;

}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-15px);
    }
}


h1 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;


}

h2 {
    letter-spacing: 4px;
    text-transform: uppercase;
}

.social_media {
    margin-top: 1rem;
    display: flex;
}


.social_media a {
   
    color: #3be22d;
    padding: 1rem 4rem;
    border: 1px solid #3be22d;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s ease-in-out;

}

.social_media a:hover {
    background-color: #ffffff;
}


.topic{
    width: 100%;
    text-align: center;
    box-shadow: #4cf40a 0px 0px 20px 4px inset;
    background: linear-gradient(rgb(27 28 28) 16%, rgb(19 28 36) 63%);
}


.container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color:#1e1f24;
}

.card_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.card {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem 0 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1f24;
    background-image: url("./assets/i_am_root.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: #3be22d;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.card_text {
    width: 40%;
    letter-spacing: 1px;
    color: #3be22d;
}

.card_wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card_wrapper::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border: 1px solid #ffffffff;
    opacity: 0;
    transition: 0.5s ease-in-out;

}

.card_wrapper h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.5s ease-in-out;

}

.card_wrapper p {
    font-size: 0;
    visibility: visible;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.card:hover {
    filter: unset;
}

.card:hover>.card_wrapper::before {
    height: 250px;
    width: 250px;
    opacity: 1;

}

.card:hover>.card_wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 14px;

}


.sec_container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1f24;
}

.sobre_card {
    display: flex;
    justify-content: center;
    align-items: center;

}

.sobre_card img {
    animation: unset;
    position: relative;
}

.text_sobre {
    text-align: justify;
    font-size: 20px;
    letter-spacing: 2px;
    width: 80%;
    line-height: 25px;
    
}

.text_sobre p{
    text-indent: 1%;

}



.exp{
    display: grid;
    grid-template-columns: 90px 90px 90px;
    grid-template-rows: 1fr 1fr;
    height: 70vh;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1e1f24
}
.exp img{

    height: 100px;
    position: relative;
    display: flex;
    cursor: pointer;
    filter: grayscale(0.7);
    transition: 0.5s ease-in-out;
}

.exp img:hover{
    height:120px;
    margin-bottom: 20px;
    filter: unset;
}



footer {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #1e1f24
}



h3{
    
    box-shadow: rgb(76 244 10) 0px 0px 8px 3px inset;
    background: linear-gradient(rgb(27, 28, 28) 16%, rgb(19, 28, 36) 63%);
}


@media screen and (max-width: 1060px) {

    .header {
        visibility: visible;
    }

    .menu_nav {
        display: none;
    }

    /* Menu Hamburguer */

    .checkbox_container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .checkbox {
        height: 100px;
        width: 100px;
        position: fixed;
        right: 0;
        top: 0;
        display: flex;
        justify-content: center;
        cursor: pointer;
        z-index: 9999;
        transition: 400ms ease-in-out 0s;
    }

    .checkbox .trace {
        width: 50px;
        height: 2px;
        background-color: #3be22d;
        position: absolute;
        border-radius: 4px;
        transition: 0.5s ease-in-out;

    }

    .checkbox .trace:nth-child(1) {
        top: 26px;
        transform: rotate(0);

    }


    .checkbox .trace:nth-child(2) {
        top: 46px;
        transform: rotate(0);

    }


    .checkbox .trace:nth-child(3) {
        top: 66px;
        transform: rotate(0);

    }

    #toggle {
        display: none;
    }


    /* menu */

    .menu {
        position: fixed;
        top: 28px;
        right: 30px;
        background-color: transparent;
        height: 4px;
        width: 10px;
        border-radius: 50%;
        z-index: -1;
        transition: 400ms ease-in-out 0s;
    }

    .menu_itens {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transition: 400ms ease-in-out 0s;

    }

    .menu_itens ul {
        list-style-type: none;

    }

    .menu_itens ul li a {
        margin: 10px 0;
       
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 40px;
    }

    .social_media a:hover {
        background-color:  #ffffffff;
    }


    /* animação menu */


    #toggle:checked+.checkbox .trace:nth-child(1) {
        transform: rotate(45deg);
        top: 47px;

    }

    #toggle:checked+.checkbox .trace:nth-child(2) {
        transform: translate(-100px);
        width: 30px;
        visibility: hidden;
        opacity: 0;
    }

    #toggle:checked+.checkbox .trace:nth-child(3) {
        transform: rotate(-45deg);
        top: 48px;
    }

    #toggle:checked~.menu {
        box-shadow: rgb(30 31 36 / 73%) 0px 0px 0px 90vmax;
        z-index: 1;
    }


    #toggle:checked~.menu_itens {
        visibility: visible;
        opacity: 1;
    }


}